.con1{
    background-image: url(images/delani.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

}
.container{
    background-image: url(images/delani\ z.jpg);



    }

.tain{
    background-image:url(images/delani\ y.jpg);

}